body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('bus1.jpeg') no-repeat center center/cover;
    height: 100vh;
    color: #ffee00;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 24px;
    margin: 10px 0;
}

.btn {
    background: #ff6347;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e55337;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.booking-form label {
    font-size: 16px;
}

.booking-form select, .booking-form input, .booking-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.message-box {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.message-box.success {
    border-left: 5px solid #28a745;
}
.message-box.error {
    border-left: 5px solid #dc3545;
}
.message-box p {
    margin: 0;
    font-size: 18px;
}
.message-box.success p {
    color: #28a745;
}
.message-box.error p {
    color: #dc3545;
}
